In [1]:
import pandas as pd

school_path = 'Resources/schools_complete.csv'
student_path = 'Resources/students_complete.csv'

school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

full_df = pd.merge(student_df, school_df, how='left', on=['school_name', 'school_name'])

In [2]:
full_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
total_schools = len(full_df['school_name'].unique())
total_students = len(full_df['Student ID'].unique())
total_budget = full_df.budget.unique().sum()
average_math = (full_df.math_score.sum())/len(full_df.math_score)
average_reading = (full_df.reading_score.sum())/len(full_df.reading_score)
passing_math = round((len(full_df.loc[full_df['math_score'] >= 70, :]) / total_students) * 100, 2)
passing_reading = round((len(full_df.loc[full_df['reading_score'] >= 70, :]) / total_students) * 100, 2)

district_summary = pd.DataFrame({'Total Schools': total_schools, 'Total Students': total_students, 'Total Budget': total_budget, 'Average Math Score': average_math, 'Average Reading Score': average_reading, '% Passing Math': passing_math, '% Passing Reading': passing_reading}, index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.98,85.81

In [4]:
full_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [29]:
school_group = full_df.groupby('school_name')
school_group_df = pd.DataFrame()
school_group_df['School Type'] = school_group['type'].first()
school_group_df['Total Students'] = school_group['Student ID'].count()
school_group_df['Total School Budget'] = school_group['budget'].max()
school_group_df['Per Student Budget'] = (school_group_df['Total School Budget'] / school_group_df['Total Students'])
school_group_df['Average Math Score'] = school_group['math_score'].mean()
school_group_df['Average Reading Score'] = school_group['reading_score'].mean()
# school_group_df['% Passing Math'] = 
# school_group.first()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Holden High School,22847,Daniel Rodriguez,M,11th,86,92,8,Charter,427,248087
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400