In [1]:
import pandas as pd

school_path = 'Resources/schools_complete.csv'
student_path = 'Resources/students_complete.csv'

school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

full_df = pd.merge(student_df, school_df, how='left', on=['school_name', 'school_name'])

# ----------------------------------
# District Summary DataFrame
# ----------------------------------

In [2]:
# Creating summary column variables
total_schools = len(full_df['school_name'].unique())
total_students = len(full_df['Student ID'].unique())
total_budget = full_df.budget.unique().sum()
average_math = (full_df.math_score.sum())/len(full_df.math_score) / 100
average_reading = (full_df.reading_score.sum())/len(full_df.reading_score) / 100
passing_math = (len(full_df.loc[full_df['math_score'] >= 70, :]) / total_students)
passing_reading = (len(full_df.loc[full_df['reading_score'] >= 70, :]) / total_students)

# Building district summary dataframe
district_raw = pd.DataFrame(
    {'Total Schools': total_schools,
     'Total Students': total_students, 
     'Total Budget': total_budget, 
     'Average Math Score': average_math, 
     'Average Reading Score': average_reading, 
     '% Passing Math': passing_math, 
     '% Passing Reading': passing_reading}, 
    index=[0])

# Formatting district summary dataframe
district_final = district_raw.style.format(
    {'Total Students': '{:,}',
     'Total Budget': '${:,.2f}',
     'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}'})

# Printing district summary dataframe
district_final

# ----------------------------------
# School Summary DataFrame
# ----------------------------------

In [12]:
# Creating .groupby object, grouped by school name
school_group = full_df.groupby('school_name')

# Building school summary dataframe using .groupby object
school_group_df = pd.DataFrame()
school_group_df['School Type'] = school_group['type'].first()
school_group_df['Total Students'] = school_group['Student ID'].count()
school_group_df['Total School Budget'] = school_group['budget'].max()
school_group_df['Per Student Budget'] = (school_group_df['Total School Budget'] / school_group_df['Total Students'])
school_group_df['Average Math Score'] = school_group['math_score'].mean() / 100
school_group_df['Average Reading Score'] = school_group['reading_score'].mean() / 100

# Building math score exclusive dataframe and creating .groupby to filter out passing grades
math_passing_df = full_df.loc[full_df['math_score'] >= 70, :]
math_passing_grouped = math_passing_df.groupby('school_name')
school_group_df['% Passing Math'] = (math_passing_grouped['Student ID'].count() / school_group_df['Total Students'])

# Building reading score exclusive dataframe and creating .groupby to filter out passing grades
reading_passing_df = full_df.loc[full_df['reading_score'] >= 70, :]
reading_passing_grouped = reading_passing_df.groupby('school_name')
school_group_df['% Passing Reading'] = (reading_passing_grouped['Student ID'].count() / school_group_df['Total Students'])

# Inserting overall rate column
school_group_df['% Overall Passing Rate'] = (school_group_df['% Passing Math'] + school_group_df['% Passing Reading'])/ 2

# Formatting school summary dataframe
school_group_df.index.name = None
school_summary_final = school_group_df.style.format(
    {'Total Students': '{:,}',
     'Total School Budget': '${:,.2f}',
     'Per Student Budget': '${:,.2f}',
     'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing school summary dataframe
school_summary_final

# --------------------------------------------------
# Top and Bottom Schools (by Passing Rate)
# --------------------------------------------------

## Top Schools by Passing Rate

In [13]:
# Building sorted top schools dataframe
top_schools_df = school_group_df.sort_values(by=['% Overall Passing Rate'], ascending=False)

# Formatting top schools dataframe
top_schools_df.index.name = None
top_schools_final = top_schools_df.head(5).style.format(
    {'Total Students': '{:,}',
     'Total School Budget': '${:,.2f}',
     'Per Student Budget': '${:,.2f}',
     'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing top schools dataframe
top_schools_final

## Bottom Schools by Passing Rate

In [14]:
# Building sorted bottom schools dataframe
bottom_schools_df = school_group_df.sort_values(by=['% Overall Passing Rate'])

# Formatting bottom schools dataframe
bottom_schools_df.index.name = None
bottom_schools_final = bottom_schools_df.head(5).style.format(
    {'Total Students': '{:,}',
     'Total School Budget': '${:,.2f}',
     'Per Student Budget': '${:,.2f}',
     'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing bottom schools dataframe
bottom_schools_final

# -------------------------------------------
# Math and Reading Scores (by Grade)
# -------------------------------------------

## Math

In [15]:
# Building grade exclusive dataframes and .groupby objects by school name
ninth_math = full_df.loc[full_df.grade == '9th', ['school_name', 'math_score']]
ninth_math_group = ninth_math.groupby('school_name')
tenth_math = full_df.loc[full_df.grade == '10th', ['school_name', 'math_score']]
tenth_math_group = tenth_math.groupby('school_name')
eleventh_math = full_df.loc[full_df.grade == '11th', ['school_name', 'math_score']]
eleventh_math_group = eleventh_math.groupby('school_name')
twelfth_math = full_df.loc[full_df.grade == '12th', ['school_name', 'math_score']]
twelfth_math_group = twelfth_math.groupby('school_name')

# Building grade sorted summary dataframe
math_by_grade_df = pd.DataFrame()
math_by_grade_df['9th'] = ninth_math_group['math_score'].mean() / 100
math_by_grade_df['10th'] = tenth_math_group['math_score'].mean() / 100
math_by_grade_df['11th'] = eleventh_math_group['math_score'].mean() / 100
math_by_grade_df['12th'] = twelfth_math_group['math_score'].mean() / 100

# Formatting grade sorted summary dataframe
math_by_grade_df.index.name = None
math_by_grade_final = math_by_grade_df.style.format(
    {'9th': '{:.2%}',
     '10th': '{:.2%}',
     '11th': '{:.2%}',
     '12th': '{:.2%}'})

# Printing grade sorted summary dataframe
math_by_grade_final

## Reading

In [16]:
# Building grade exclusive dataframes and .groupby objects by school name
ninth_reading = full_df.loc[full_df.grade == '9th', ['school_name', 'reading_score']]
ninth_reading_group = ninth_reading.groupby('school_name')
tenth_reading = full_df.loc[full_df.grade == '10th', ['school_name', 'reading_score']]
tenth_reading_group = tenth_reading.groupby('school_name')
eleventh_reading = full_df.loc[full_df.grade == '11th', ['school_name', 'reading_score']]
eleventh_reading_group = eleventh_reading.groupby('school_name')
twelfth_reading = full_df.loc[full_df.grade == '12th', ['school_name', 'reading_score']]
twelfth_reading_group = twelfth_reading.groupby('school_name')

# Building grade sorted summary dataframe
reading_by_grade_df = pd.DataFrame()
reading_by_grade_df['9th'] = ninth_reading_group['reading_score'].mean() / 100
reading_by_grade_df['10th'] = tenth_reading_group['reading_score'].mean() / 100
reading_by_grade_df['11th'] = eleventh_reading_group['reading_score'].mean() / 100
reading_by_grade_df['12th'] = twelfth_reading_group['reading_score'].mean() / 100

# Formatting grade sorted summary dataframe
reading_by_grade_df.index.name = None
reading_by_grade_final = reading_by_grade_df.style.format(
    {'9th': '{:.2%}',
     '10th': '{:.2%}',
     '11th': '{:.2%}',
     '12th': '{:.2%}'})

# Printing grade sorted summary dataframe
reading_by_grade_final

# ----------------------------------------
# Total Scores (by School Spending)
# ----------------------------------------

In [17]:
# Initializing school spending bins and labels
school_spending_bins = [0, 580, 605, 630, 655]
school_spending_labels = ['Less than $580', '$580-604', '$605-629', '$630-655']

# Inserting bin-controlled 'Spending Ranges' column into dataframe, then creating .groupby object using new column
school_group_df['Spending Ranges (Per Student)'] = pd.cut(school_group_df['Per Student Budget'], school_spending_bins, labels=school_spending_labels, include_lowest=True)
spending_bins_grouped = school_group_df.groupby('Spending Ranges (Per Student)')

# Building school spending summary dataframe using spending groups
school_spending_df = pd.DataFrame()
school_spending_df['Average Math Score'] = spending_bins_grouped['Average Math Score'].mean()
school_spending_df['Average Reading Score'] = spending_bins_grouped['Average Reading Score'].mean()
school_spending_df['% Passing Math'] = spending_bins_grouped['% Passing Math'].mean()
school_spending_df['% Passing Reading'] = spending_bins_grouped['% Passing Reading'].mean()
school_spending_df['% Overall Passing Rate'] = spending_bins_grouped['% Overall Passing Rate'].mean()

# Formatting school spending summary dataframe
school_spending_df.index.name = None
school_spending_final = school_spending_df.style.format(
    {'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing spending summary dataframe
school_spending_final

# ----------------------------------
# Total Scores (by School Size)
# ----------------------------------

In [9]:
# Initializing school size bins and labels
school_size_bins = [0, 1000, 2000, 3000, 4000, 5000]
school_size_labels = ['0-999', '1000-1999', '2000-2999', '3000-3999', '4000-4999']

# Inserting bin-controlled 'School Size' column into dataframe, then creating .groupby object using new column
school_group_df['School Size'] = pd.cut(school_group_df['Total Students'], school_size_bins, labels=school_size_labels, include_lowest=True)
school_size_grouped = school_group_df.groupby('School Size')

# Building school size summary dataframe using size groups
school_size_df = pd.DataFrame()
school_size_df['Average Math Score'] = school_size_grouped['Average Math Score'].mean()
school_size_df['Average Reading Score'] = school_size_grouped['Average Reading Score'].mean()
school_size_df['% Passing Math'] = school_size_grouped['% Passing Math'].mean()
school_size_df['% Passing Reading'] = school_size_grouped['% Passing Reading'].mean()
school_size_df['% Overall Passing Rate'] = school_size_grouped['% Overall Passing Rate'].mean()

# Formatting school size summary dataframe
school_size_final = school_size_df.style.format(
    {'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing school size dataframe
school_size_final

# ----------------------------------
# Total Scores (by School Type)
# ----------------------------------

In [10]:
# Creating .groupby object by school type
school_type_grouped = school_group_df.groupby('School Type')

# Building school type summary dataframe
school_type_df = pd.DataFrame()
school_type_df['Average Math Score'] = school_type_grouped['Average Math Score'].mean()
school_type_df['Average Reading Score'] = school_type_grouped['Average Reading Score'].mean()
school_type_df['% Passing Math'] = school_type_grouped['% Passing Math'].mean()
school_type_df['% Passing Reading'] = school_type_grouped['% Passing Reading'].mean()
school_type_df['% Overall Passing Rate'] = school_type_grouped['% Overall Passing Rate'].mean()

# Formatting school type summary dataframe
school_type_final = school_type_df.style.format(
    {'Average Math Score': '{:.2%}', 
     'Average Reading Score': '{:.2%}', 
     '% Passing Math': '{:.2%}', 
     '% Passing Reading': '{:.2%}',
     '% Overall Passing Rate': '{:.2%}'})

# Printing school type summary dataframe
school_type_final