In [1]:
import pandas as pd

school_path = 'Resources/schools_complete.csv'
student_path = 'Resources/students_complete.csv'

school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

full_df = pd.merge(student_df, school_df, how='left', on=['school_name', 'school_name'])

## District Summary Table

In [2]:
total_schools = len(full_df['school_name'].unique())
total_students = len(full_df['Student ID'].unique())
total_budget = full_df.budget.unique().sum()
average_math = (full_df.math_score.sum())/len(full_df.math_score)
average_reading = (full_df.reading_score.sum())/len(full_df.reading_score)
passing_math = (len(full_df.loc[full_df['math_score'] >= 70, :]) / total_students) * 100
passing_reading = (len(full_df.loc[full_df['reading_score'] >= 70, :]) / total_students) * 100

district_summary = pd.DataFrame(
    {'Total Schools': total_schools,
     'Total Students': total_students, 
     'Total Budget': total_budget, 
     'Average Math Score': average_math, 
     'Average Reading Score': average_reading, 
     '% Passing Math': passing_math, 
     '% Passing Reading': passing_reading}, 
    index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463

## School Summary DF

In [4]:
school_group = full_df.groupby('school_name')

school_group_df = pd.DataFrame()
school_group_df['School Type'] = school_group['type'].first()
school_group_df['Total Students'] = school_group['Student ID'].count()
school_group_df['Total School Budget'] = school_group['budget'].max()
school_group_df['Per Student Budget'] = (school_group_df['Total School Budget'] / school_group_df['Total Students'])
school_group_df['Average Math Score'] = school_group['math_score'].mean()
school_group_df['Average Reading Score'] = school_group['reading_score'].mean()

math_passing_df = full_df.loc[full_df['math_score'] >= 70, :]
math_passing_grouped = math_passing_df.groupby('school_name')
school_group_df['% Passing Math'] = (math_passing_grouped['Student ID'].count() / school_group_df['Total Students']) * 100

reading_passing_df = full_df.loc[full_df['reading_score'] >= 70, :]
reading_passing_grouped = reading_passing_df.groupby('school_name')
school_group_df['% Passing Reading'] = (reading_passing_grouped['Student ID'].count() / school_group_df['Total Students']) * 100

school_group_df['% Overall Passing Rate'] = (school_group_df['% Passing Math'] + school_group_df['% Passing Reading'])/ 2
school_group_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Schools by Passing Rate

In [8]:
top_schools_df = school_group_df.sort_values(by=['% Overall Passing Rate'], ascending=False)
top_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Schools by Passing Rate

In [10]:
bottom_schools_df = school_group_df.sort_values(by=['% Overall Passing Rate'])
bottom_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

In [16]:
ninth_math = full_df.loc[full_df.grade == '9th', ['school_name', 'math_score']]
ninth_math_group = ninth_math.groupby('school_name')
tenth_math = full_df.loc[full_df.grade == '10th', ['school_name', 'math_score']]
tenth_math_group = tenth_math.groupby('school_name')
eleventh_math = full_df.loc[full_df.grade == '11th', ['school_name', 'math_score']]
eleventh_math_group = eleventh_math.groupby('school_name')
twelfth_math = full_df.loc[full_df.grade == '12th', ['school_name', 'math_score']]
twelfth_math_group = twelfth_math.groupby('school_name')

In [21]:
math_by_grade_df = pd.DataFrame()
math_by_grade_df['9th'] = ninth_math_group['math_score'].mean()
math_by_grade_df['10th'] = tenth_math_group['math_score'].mean()
math_by_grade_df['11th'] = eleventh_math_group['math_score'].mean()
math_by_grade_df['12th'] = twelfth_math_group['math_score'].mean()

math_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [22]:
ninth_reading = full_df.loc[full_df.grade == '9th', ['school_name', 'reading_score']]
ninth_reading_group = ninth_reading.groupby('school_name')
tenth_reading = full_df.loc[full_df.grade == '10th', ['school_name', 'reading_score']]
tenth_reading_group = tenth_reading.groupby('school_name')
eleventh_reading = full_df.loc[full_df.grade == '11th', ['school_name', 'reading_score']]
eleventh_reading_group = eleventh_reading.groupby('school_name')
twelfth_reading = full_df.loc[full_df.grade == '12th', ['school_name', 'reading_score']]
twelfth_reading_group = twelfth_reading.groupby('school_name')

In [23]:
reading_by_grade_df = pd.DataFrame()
reading_by_grade_df['9th'] = ninth_reading_group['reading_score'].mean()
reading_by_grade_df['10th'] = tenth_reading_group['reading_score'].mean()
reading_by_grade_df['11th'] = eleventh_reading_group['reading_score'].mean()
reading_by_grade_df['12th'] = twelfth_reading_group['reading_score'].mean()

reading_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171